<div class="container h-100 page-padding">
	<div class="card card-padding">
		<div class="card-body text-justify" style="color: #4b71b7;">
			<h5 class="card-title" style="color: #935FA7">A associação </h5>
			A Associação dos Moradores do Sítio Carás do Umarí é uma instituição privada, localizada na Zona Rural do municipio de Juazeiro Do Norte - CE. Fundada em 04/01/1987 pelo morador da comunidade, o senhor Manoel do Nascimento. Desde do seu surgimento, estamos mobilizando os moradores da comunidade para juntos construirmos projetos que venham melhorar a qualidade de vida dos agricultores e moradores residentes na localidade. Nossos projetos incluem temas como atividades agrículas, salário maternidade rural, aposentadoria rural, seguro safra, integração de moradores, além de outros. 
			Na localidade encontra-se:
			<li><i class="fas fa-home"></i>  Mais de 350 moradias;</li>
			<li><i class="fas fa-volleyball-ball"></i>  Quadra poliesportiva;</li>
			<li><i class="fas fa-store-alt"></i></i>  Estabelecimentos de outras finalidades (comercial, religioso, outros) ;</li>
			<li><i class="fas fa-clinic-medical"></i>  Posto de Saúde;</li>
			<li><i class="fas fa-users"></i>  Estimativa de mais de 900 moradores.</li>
			É importante que um número cada vez maior de moradores se associe.

			Com a contribuíção de todos associados poderemos melhorar a nossa qualidade de vida e fazer da nossa comunidade um local ideal para viver, investir e curtir a natureza.
		</ul>
		<!--<h5 class="card-title" style="color: #935FA7; padding-top: 10px;">A associação</h5>-->
	</div>
</div>

<br>

<div class="card card-padding">
	<div class="card-body" style="color: #4b71b7">
		<h5 class="card-title" style="color: #935FA7; padding-bottom: 10px">Os Desenvolvedores</h5>
		<div class="row">
			<div class="col-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Victor Souza</h5>
						<h6 class="card-subtitle mb-2 text-muted">Front-end e Back-end </h6>
						<p class="card-text">Graduando em Sistemas de Informação pela Faculdade Paraíso do Ceará (FAP-CE).</p>
						<a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
						<a href="#" class="card-link"><i class="fas fa-envelope-square"></i></a>
						<a href="#" class="card-link"><i class="fab fa-telegram-plane"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Clarice Ferreira</h5>
						<h6 class="card-subtitle mb-2 text-muted">Front-end</h6>
						<p class="card-text">Graduando em Sistemas de Informação pela Faculdade Paraíso do Ceará (FAP-CE).</p>
						<a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
						<a href="#" class="card-link"><i class="fas fa-envelope-square"></i></a>
						<a href="#" class="card-link"><i class="fab fa-telegram-plane"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Marcelo Nascimento</h5>
						<h6 class="card-subtitle mb-2 text-muted">Gestor de Projetos</h6>
						<p class="card-text">Graduando em Sistemas de Informação pela Faculdade Paraíso do Ceará (FAP-CE).</p>
						<a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
						<a href="#" class="card-link"><i class="fas fa-envelope-square"></i></a>
						<a href="#" class="card-link"><i class="fab fa-telegram-plane"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

