<div class="container h-100 page-padding">
	<div class="card card-padding">
		<div class="card-body text-justify" style="color: #4b71b7;">
			<h5 class="card-title" style="color: #935FA7">A associação</h5>
			Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserirInserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserir Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui
			Inserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserir texto inserir aqui texto inserir texto aquiInserir Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui Inserir texto inserir aqui texto inserir texto aqui
			<!--<h5 class="card-title" style="color: #935FA7; padding-top: 10px;">A associação</h5>-->
		</div>
	</div>

	<br>

	<div class="card card-padding">
		<div class="card-body" style="color: #4b71b7">
			<h5 class="card-title" style="color: #935FA7; padding-bottom: 10px">Os Desenvolvedores</h5>
			<div class="row">
				<div class="col-sm">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Victor Souza</h5>
							<h6 class="card-subtitle mb-2 text-muted">Front-end e Back-end </h6>
							<p class="card-text">Graduando em Sistemas de Informação pela Faculdade Paraíso do Ceará (FAP-CE).</p>
							<a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
							<a href="#" class="card-link"><i class="fas fa-envelope-square"></i></a>
							<a href="#" class="card-link"><i class="fab fa-telegram-plane"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Clarice Ferreira</h5>
							<h6 class="card-subtitle mb-2 text-muted">Front-end</h6>
							<p class="card-text">Graduando em Sistemas de Informação pela Faculdade Paraíso do Ceará (FAP-CE).</p>
							<a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
							<a href="#" class="card-link"><i class="fas fa-envelope-square"></i></a>
							<a href="#" class="card-link"><i class="fab fa-telegram-plane"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Marcelo Nascimento</h5>
							<h6 class="card-subtitle mb-2 text-muted">Front-end</h6>
							<p class="card-text">Graduando em Sistemas de Informação pela Faculdade Paraíso do Ceará (FAP-CE).</p>
							<a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
							<a href="#" class="card-link"><i class="fas fa-envelope-square"></i></a>
							<a href="#" class="card-link"><i class="fab fa-telegram-plane"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

