<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'img1', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'img2', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'img3', class: 'd-block w-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<br>

<div class="sobre">
  <h2> Conheça quem somos </h2>
  <hr class="linha">
</div>
<section class="style1">
  <div class="container">
    <div class="row gtr-200">
      <section class="col-4 col-12-narrower">
        <div class="box highlight">
          <i id="icones" class="fas fa-tractor fa-4x"></i>
          <h3 class="font-weight-bold">Comunidade</h3>
          <p class="text-justify">O Sitio Caras do Umari localiza-se no Distrito Padre Cicero na cidade de Juazeiro do Norte. É cituado na zona rual da cidade com uma quantidade estimada de 957 moradores.</p>
        </div>
      </section>
      <section class="col-4 col-12-narrower">
        <div class="box highlight">
          <i id="icones" class="fas fa-users fa-4x"></i>
          <h3 class="font-weight-bold">Associação</h3>
          <p class="text-justify">A Associação dos Moradores do St. Carás do Umari é uma instituição sem fins lucrativos, fundada em xxxx e desde então busca com dedicação cumprir o objetivo proposto.</p>
        </div>
      </section>
      <section class="col-4 col-12-narrower">
        <div class="box highlight">
          <i id="icones" class="fas fa-thumbtack fa-4x"></i>
          <h3 class="font-weight-bold">Objetivo</h3>
          <p class="text-justify">O objetivo da Associação é buscar melhoria para a comunidade frente ao poder governante, visando sempre o crescimento e beneficio da comunidade.</p>
        </div>
      </section>
    </div>
  </div>
</section>
<center>
  <div class="card">
  <div id="links" class="card-header">
     <h4> Fique por dentro dos nossos projetos </h4>
  </div>
  <div class="card-body">
     <% @posts.each do |post| %>
    <blockquote class="blockquote mb-0">
     <h5><%= link_to post.title, post,class:'color-post-title' %></h5>
    </blockquote>
    <br>
    <% end %>
  </div>
</div>
 
