<p id="notice"><%= notice %></p>

<br>
<div class="container h-100 page-padding">
	<div class="card card-padding">
		<div class="card-body text-justify" style="color: #4b71b7;">
			<h5 class="card-title" style="color: #935FA7">Projetos Comunitários</h5>
			
			<% @posts.each do |post| %>
			<h4 style="color: #4b71b7"><%= link_to post.title, post %></h4>
			<% end %>
		</div>
	</div>
</div>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
