<style>



	@media (min-width: 200px) and (max-width:599px) {
		img {
			max-width: 200px;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto
		}

		.attachment {
			display: block;
			position: relative;
			max-width: 50%;
			margin: 0;
			padding: 0;

		} 
	}

	@media (min-width: 600px) and (max-width:999px) {
		img {
			max-width: 300px;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto
		}

		.attachment {
			display: block;
			position: relative;
			max-width: 50%;
			margin: 0;
			padding: 0;

		} 
	}

	@media (min-width: 1000px) {
		img {
			max-width: 500px;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto
		}

		.attachment {
			display: block;
			position: relative;
			max-width: 50%;
			margin: 0;
			padding: 0;

		} 
	}

	figcaption{
		color:transparent !important;
	}

	span{
		display:none;
	}
	
	.page-padding{
		padding-top:10px;
		padding-bottom: 25px;
	}


	.card-size{
		margin: auto;
		width: 65% !important;
	}

</style>
<p id="notice"><%= notice %></p>

<div class="text-success page-padding">
	<div class="card card-size">
		<div class="card-body">
			<h5 class="card-title text-center" style="font-size:30px; font-weight: bold;"><%= @post.title %> </h5>
			<p class="trix-content"><%= sanitize @post.body %> </p>
		</div>
	</div>
</div>