<p id="notice"><%= notice %></p>

<div class="container text-success">
	<div class="card card-size">
		<div class="card-body">
			<h5 class="card-title text-center"><%= @post.title %> </h5>
			<p class="trix-content"><%= sanitize @post.body %> </p>
		</div>
	</div>
</div>