.carousel-item {

}



/* classes do footer */
.section-padding {
	padding: 60px 0;
}
/*.bottom {
    background-color: #0a1c2e;
}*/
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #FFFFFF;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: white;
}

.small-middle-container{
	margin: auto;
	width: 40%;
}

.card-size{
  margin: auto;
  width: 55%;
}

.linha{
      border-top: 1px dashed ;
      border-bottom: 1px solid ;
      color: #29091F;
      height: 10px;
      align:center;
      width: 50%
}

/*img {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.attachment {
   display: block;
   position: relative;
   max-width: 50%;
   margin: 0;
   padding: 0;

} 
*/


.sobre{
    /*background-image: url("banner.jpg");*/
    font-family:Impact, fantasy;
    background-position: center center;
    height: 5em;
    text-align: center;
   margin-top: -1%;
   border-width: 0 0 1px 0;
}

h2{
  margin-top: 5%;
}

  #icones{
    color: #2DC7FF;
   margin-left: 25%;
  }

  .color-post-title{
     color: #2DC7FF !important;
  }
  h3{
    font-family: Georgia;
    margin-top: -5%;
    margin-left: 15%;

  }

  p{
     font-family: Georgia;
     color:#696969;
     font-size: 13px;
  }

  #links{
    font-family: georgia;
    font-size: 14px;
    background-color: #F9FEFF;
  }
  .h2{
    font-family: Georgia;
  }

  h4{
   font-family:Impact, fantasy;
  }

/* fim das classes do footer*/

/*body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */

.style1{
  margin-top: 2%;
}

.navbar-logo-bg{
  background-color: #FFFFFF;
}

.navbar-logo-bg2{
  background-color: #84D0FF;
}

.border-nav-bottom{
  border-bottom-style: solid;
  border-bottom-color: #B4C5E4;
  border-bottom-width: 5px;
}

a:hover { 
  background-color: transparent !important;
  color: #935FA7 !important;
  text-decoration: none !important;
  }


.border-nav-top{
  border-top-style: solid;
  border-top-color: #B4C5E4;
  border-top-width: 5px;
}

.menu{
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bold;
}

.push-menu{
  padding-left: 20px;
}

.page-padding{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.card-padding{
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.card{
   font-family: 'Noto Sans HK', sans-serif;
}

.card-color{
  color:;
}

.img-post{

}

.post-padding{
  padding-left: 200px;
  padding-right: 200px;
}