<div class="bottom section-padding" style="background-color: #84D0FF; border-top-style: solid;border-top-color: #B4C5E4; border-top-width: 5px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>© <span>2019</span> Eu mesmo. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
