
<section id="topbar" class="d-none d-lg-block">
	<div class="container clearfix">
		<div class="contact-info float-left">
			<i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">associaçãocarasumari@gmail.com</a>
			<i class="fa fa-phone"></i> +55 88 35123299
		</div>
		<div class="social-links float-right">
			<a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
			<a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
			<a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</section>

<header id="header">
	<div class="container">

		<div id="logo" class="pull-left">
			<h1> <%= link_to "AMSCU", root_path, class: 'scrollto color-nex' %> </h1>
			<h6 class="scrollto color-nex" id="slogan">Associação dos Moradores do Sítio Carás do Umari</h6>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<%= link_to "Início", root_path, class: 'push-menu' %>
					<%= link_to "A Associação", about_path, class: 'push-menu' %>
					<%= link_to "Projetos", posts_path, class: 'push-menu' %>

				</ul>
			</nav><!-- #nav-menu-container -->
		</div>
	</div>
</header><!-- #header -->